# Ignore uploading Yuanwei's data
Images/Additional/Images to rachel (from Yuanwei)/*
Images/Additional/Images to rachel (from Yuanwei)/*/

# Ignore ALL Results
Results

# Ignore ALL Images... Just download these manually for reals
Images

# Larger Models
Models/bg_segmenter.pickle
Models/detectron2/model_final.pth

# Most png are not necessary
*.png

facet_ml/static/Models/*